{% extends "admin_panel/base.html" %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h2 class="mb-4">Manage Appointments</h2>
            <div class="table-responsive">
                <table class="table table-bordered mt-4">
                    <thead>
                        <tr>
                            <th>Patient Name</th>
                            <th>Doctor</th>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for appointment in appointments %}
                    <tr>
                        <td>{{ appointment.patient.user.username }}</td>
                        <td>{{ appointment.doctor.user.username }}</td>
                        <td>{{ appointment.date }}</td>
                        <td>{{ appointment.time }}</td>
                        <td>{{ appointment.status }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

